.left-pane-body {
  margin: 2.5% 5% 2.5% 5%;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

.left-pane code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16.5px;
  color: #02203c;
  background-color: rgba(196, 196, 196, .4);
}

/* Left Pane Tables */
.lessonTable th {
  text-align: center;
  padding: .5em 1em .5em 1em;
  font-size: 16px;
  line-height: 1;
}

.lessonTable > table > tbody > tr > th {
  border-top: solid 1px #02203c;
  border-bottom: solid 1px #02203c;
}

th#tableHeader {
  font-size:18px
}
/*  End of left pane tables */

.hr-challenge {
  height: 5px;
  background: #02203c;
  border:none;
}

.coding-challenge-heading {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

ul.code-list {
  list-style: none;
  padding-left: 20px;
}

ul.code-list li:before {
  content: "\003E\003E\003E";
  margin-right: 10px;
}
