.btn-group.dropright {
	padding: 5% 5% 7.5% 5%;
}

#hint-answer-btn {
	background-color: #02203c;
	font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#hint-answer-btn::after {
	margin-left: 10px;
}

.dropdown-menu.show {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly !important;
  align-items: center !important;
	border: 1px solid black;
	margin-left: 2px;
	padding: 0 0 0 0;
}

.dropdown-item {
	font-family: 'PT Sans', sans-serif;
}

.dropdown-item:hover {
	background-color: transparent;
}

.dropdown-item:active {
	background-color: #02203c;
	color: white;
}

#hint {
	cursor: pointer;
	border-bottom: solid 1px black;
}

#answer {
	cursor: pointer;
}

.left-pane-hint-answer {
    margin: 7.5% 5% 7.5% 5%;
}

#ace-editor-2 {
	margin: 30px 0 0 0 !important;
	width: 100%;
}

#ace-editor-2 > .ace_gutter{
  background-color: white !important;
  border-right: solid .5px black;
}

/* Removes bracket matching for ace editor */
#ace-editor-2 .ace_marker-layer .ace_bracket {
  display: none
}

h4#head-hint-answer {
  font-family: 'Montserrat', sans-serif;
}

hr#hr-hint-answer {
  height: 5px;
  background: #02203c;
  border:none;
}

p#p-hint {
  margin-top: 30px;
}
