#login-form input[type="email"] {
  margin-top: 0px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#login-form input[type="password"] {
  margin-bottom: 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login-btn {
  margin-bottom: 20px;
}
