#signup-form input[type="text"] {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: -1px; 
}

#signup-form input[type="email"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: -1px;
}

#signup-form input[type="password"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 10px;
}